.table {
  background-color: rgb(196, 255, 255);
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.table thead {
  background-color: aqua;
  font-size: 20px;
 
}
.table tbody {
    background-color: rgb(148, 249, 249);
    
   
  }

.table img {
  width: 380px;
  height: 250px;
}

.btn{
    display: flex;
    
    justify-content: space-around;
   margin-top: 60px;
}

.btn button{
    border-radius: 4px;
}
